@media screen and (max-width: 799px) {
    html {
        margin: 0%;
        padding: 0%;
    }
    body {
        margin: 0%;
        padding: 0%;
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
    }

    .left-container,
    .right-container {
        min-height: 100vh;
        scroll-snap-align: start;
        display: grid;
        place-content: center;
    }

    h1,
    p {
        text-align: center;

        margin: 0%;
        padding: 0%;
    }
    #webcam-container {
        border: 5px solid gray;
        width: 200px;
        height: 200px;
    }

    #center-div {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    footer {
        bottom: 0;
        text-align: center;
    }

    .filebox label.disableBtn {
        background: var(--color-bg-secondary);
        border-color: var(--color-bg-secondary);
        color: var(--color-text-secondary);
        cursor: not-allowed;
    }

    .filebox label:hover {
        border-radius: var(--border-radius);
        display: inline-block;
        font-size: medium;
        font-weight: bold;
        line-height: var(--line-height);
        margin: 0.5rem 0;
        padding: 1rem 2rem;
    }

    .filebox label {
        font-family: var(--font-family);
        border-radius: var(--border-radius);
        display: inline-block;
        font-size: medium;
        font-weight: bold;
        line-height: var(--line-height);
        margin: 0.5rem 0;
        padding: 1rem 2rem;
        margin-right: 10px;
        border-color: #0097fc;
        background-color: #0097fc;
        cursor: not-allowed;
    }

    @media (prefers-color-scheme: dark) {
        /* dark mode인 경우의 CSS */
        .filebox label {
            color: rgb(51, 51, 51);
        }
    }

    @media (prefers-color-scheme: light) {
        /* light mode인 경우의 CSS */
        .filebox label {
            color: rgb(255, 255, 255);
        }
    }

    .filebox label:active {
        filter: brightness(var(--active-brightness));
    }

    .filebox label:hover {
        cursor: pointer;
        filter: brightness(var(--hover-brightness));
        margin-right: 10px;
    }

    .filebox input[type="file"] {
        /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}
