@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@media screen and (min-width: 800px) {
    html,
    body {
        font-family: "Noto Sans KR", sans-serif;
        margin: 0%;
        border: 0%;
        padding: 0%;
        width: 100%;
        height: 100%;
    }

    h1,
    h3,
    p {
        text-align: center;
        margin: 0%;
        padding: 0%;
    }

    h1 {
        font-size: 50px;
    }

    .left-container {
        float: left;
        width: 50%;
        height: 100%;
        display: grid;
        place-content: center;
    }

    .right-container {
        float: left;
        width: 50%;
        height: 100%;
        display: grid;
        place-content: center;
    }

    footer {
        padding: 0px;
        position: absolute;
        bottom: 0;
        text-align: center;
    }

    #webcam-container {
        border: 5px solid gray;
        width: 200px;
        height: 200px;
    }

    #center-div {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #loadBtn {
        margin-right: 10px;
    }

    .filebox label.disableBtn {
        background: var(--color-bg-secondary);
        border-color: var(--color-bg-secondary);
        color: var(--color-text-secondary);
        cursor: not-allowed;
    }

    .filebox label:hover {
        border-radius: var(--border-radius);
        display: inline-block;
        font-size: medium;
        font-weight: bold;
        line-height: var(--line-height);
        margin: 0.5rem 0;
        padding: 1rem 2rem;
    }

    .filebox label {
        font-family: var(--font-family);
        border-radius: var(--border-radius);
        display: inline-block;
        font-size: medium;
        font-weight: bold;
        line-height: var(--line-height);
        margin: 0.5rem 0;
        padding: 1rem 2rem;
        margin-right: 10px;
        border-color: #0097fc;
        background-color: #0097fc;
        cursor: not-allowed;
    }

    @media (prefers-color-scheme: dark) {
        /* dark mode인 경우의 CSS */
        .filebox label {
            color: rgb(51, 51, 51);
        }
    }

    @media (prefers-color-scheme: light) {
        /* light mode인 경우의 CSS */
        .filebox label {
            color: rgb(255, 255, 255);
        }
    }

    .filebox label:active {
        filter: brightness(var(--active-brightness));
    }

    .filebox label:hover {
        cursor: pointer;
        filter: brightness(var(--hover-brightness));
        margin-right: 10px;
    }

    .filebox input[type="file"] {
        /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}
